extends layout

block content
    h1= "确认您的昵称"
    div.newuser
        form( method="post")
            input(name="_id", type="hidden", value=user._id.toHexString()) 
            div
                div
                    span.label Title :
                    input(type="text", name="title", id="editUserTitle", value=[title])
                div
                    span.label Name :
                    input(type="text", name="name", id="editUserName", value=user.name)
                div#editEmployeeSubmit
                    input(type="submit", value="Update")
        a(href="/user/done")!= "Back"