extends layout

block content
    h1= "确认您的昵称"
    div.newuser
        form(action='/user/getinfo', method="post")
            input(name="id", type="hidden", value=user.id) 
            div
                div
                    span.label 编号（没有的话向群主索取） :
                    input(type="text", name="code", id="editUserCode", value="0")
                div
                    span.label 群昵称（格式：昵称-城市-职业，不要有表情） :
                    input(type="text", name="name", id="editUserName", value=user.name)
                div
                    input(type="submit", value="Update")